<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="Beans.png">
	<!-- Created with Adobe Animate version 21.0.5.40714 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="Beans0000" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0001" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0002" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0003" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0004" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0005" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0006" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0007" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0008" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0009" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0010" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0011" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0012" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0013" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0014" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0015" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0016" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0017" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0018" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0019" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0020" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0021" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0022" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0023" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0024" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0025" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0026" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0027" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0028" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0029" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0030" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0031" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0032" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0033" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0034" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0035" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0036" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0037" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0038" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0039" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0040" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0041" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0042" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0043" x="0" y="0" width="211" height="205" frameX="-437" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0044" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0045" x="211" y="0" width="212" height="205" frameX="-436" frameY="-157" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0046" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0047" x="423" y="0" width="211" height="208" frameX="-438" frameY="-154" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0048" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0049" x="634" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0050" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0051" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0052" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0053" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0054" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0055" x="847" y="0" width="213" height="215" frameX="-437" frameY="-147" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0056" x="1060" y="0" width="212" height="225" frameX="-433" frameY="-137" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0057" x="1060" y="0" width="212" height="225" frameX="-433" frameY="-137" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0058" x="1272" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0059" x="1272" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0060" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0061" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0062" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0063" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0064" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0065" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0066" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0067" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0068" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0069" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0070" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0071" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0072" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0073" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0074" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0075" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0076" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0077" x="1495" y="0" width="223" height="222" frameX="-433" frameY="-141" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0078" x="1718" y="0" width="656" height="503" frameX="0" frameY="-3" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0079" x="2374" y="0" width="742" height="225" frameX="-24" frameY="-118" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0080" x="3116" y="0" width="943" height="244" frameX="-46" frameY="-79" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0081" x="0" y="503" width="745" height="217" frameX="-52" frameY="-108" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0082" x="745" y="503" width="749" height="280" frameX="-56" frameY="-90" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0083" x="1494" y="503" width="758" height="297" frameX="-62" frameY="-90" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0084" x="2252" y="503" width="780" height="344" frameX="-62" frameY="-90" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0085" x="3032" y="503" width="762" height="262" frameX="-62" frameY="-81" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0086" x="0" y="847" width="763" height="306" frameX="-62" frameY="-64" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0087" x="763" y="847" width="764" height="346" frameX="-62" frameY="-48" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0088" x="1527" y="847" width="764" height="347" frameX="-62" frameY="-34" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0089" x="2291" y="847" width="764" height="370" frameX="-62" frameY="-17" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0090" x="3055" y="847" width="748" height="378" frameX="-62" frameY="-15" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0091" x="0" y="1225" width="748" height="392" frameX="-62" frameY="-6" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0092" x="748" y="1225" width="749" height="399" frameX="-62" frameY="-4" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0093" x="1497" y="1225" width="772" height="438" frameX="-62" frameY="-1" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0094" x="2269" y="1225" width="664" height="301" frameX="-62" frameY="0" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0095" x="2933" y="1225" width="664" height="240" frameX="-62" frameY="-22" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0096" x="0" y="1663" width="664" height="243" frameX="-62" frameY="-19" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0097" x="664" y="1663" width="664" height="246" frameX="-62" frameY="-16" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0098" x="1328" y="1663" width="664" height="249" frameX="-62" frameY="-13" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0099" x="1992" y="1663" width="664" height="249" frameX="-62" frameY="-13" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0100" x="2656" y="1663" width="664" height="253" frameX="-62" frameY="-9" frameWidth="989" frameHeight="506"/>
	<SubTexture name="Beans0101" x="2656" y="1663" width="664" height="253" frameX="-62" frameY="-90" frameWidth="989" frameHeight="506"/>
</TextureAtlas>
